{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Nulinks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery, Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!-- Bootsrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

    <style media="screen">

        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f0f0f0;
        }

    </style>

</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                <a class="navbar-brand" href="/">Nulinks</a>

                <div class="collapse navbar-collapse justify-content-end" id="navb">
                    <ul class="navbar-nav mr=auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>

                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}"> Profile </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'upload' %}"> Post Link </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'urlLogout' %}"> Logout</a>
                        </li>

                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'urlLogin' %}"> Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"> Register</a>
                        </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://github.com/Zero3K/nulinks/issues"> Report
                                a Bug</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    {%block content%}
    {%endblock content%}


    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <footer id="footer" class="footer navbar-fixed-bottom">
                <h6 class="text-center pt-2">Sharing is caring! These links are powered by the Fopnu P2P Network - <a target="_blank" href="https://www.fopnu.com">https://www.fopnu.com</a></h6>
                <h6 class="text-center">Nulinks v0.3 was made with Django 1.11.20 and Python 3.7.2 based on <a
                        href="https://github.com/sksdlin/unchained-torrent" target="_blank"> Unchained Torrent</a>
                </h6>
                <h6 class="text-center">Bitcoin Wallet Address (for donations in order to keep this site running):
                    14CR1LskZ8gCpJNcx3HCMXtwW6NEvS1nBj</h6>
            </footer>
        </div>
    </div>

</body>

</html>