{%extends 'base.html'%}
{%block content%}


<div class="container d-flex justify-content-center jumbotron jumbotron-fluid my-2 py-4">
    <form class="form-inline" action="search" method="get" >
        <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" type="text" name="q" placeholder="Search for link">
        <button type="input" class="btn btn-primary  mb-2">Search</button>
    </form>
</div>
<div class="container alert alert-info" role="alert">
<strong>Recent links</strong>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Added on</th>
                <th>Link</th>
                <th>Posted by</th>
            </tr>
        </thead>


        <tbody>
            {% for tFile in tFiles %}
            <tr>
                <td>{{tFile.name}}</td>
                <td>{{tFile.uploadTime}}</td>
                <td><a href="{{tFile.location}}">Load link</a></td>
                <td>{{tFile.uploader}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{%endblock content%}
