{% extends 'base.html' %}

{% block content %}

<div class="container my-2 py-2">
    <div class="alert alert-info" role="alert">
        <strong>Hi {{request.user.username}}</strong>, here are the links that you have posted:
    </div>
</div>

<div class="container">
    <table class="table table-default" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Added on</th>
                <th>Link</th>
            </tr>
        </thead>

        {% for tFile in tFiles %}
        <tbody>
            <tr>
                <td>{{tFile.name}}</td>
                <td>{{tFile.uploadTime}}</td>
                <td><a href="{{tFile.location}}">Load link</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

</div>
{% endblock content %}
