{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 container alert alert-info" role="alert">

            <strong>Hi {{request.user.username}}</strong>, here are the links that you have posted:
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="myTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Added on</th>
                    </tr>
                </thead>

                <tbody>
                    {% for tFile in tFiles %}
                    <tr>
                        <td>{{ tFile.name }}</td>
                        <td><a href="{{ tFile.location }}">Load Link</a></td>
                        <td>{{ tFile.uploadTime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": false,
        });
    });
</script>
{% endblock content %}