{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
    var updateLabel = function () {

        var fileName = document.getElementById('customFile').value.toString();

        document.getElementById('idLCustomFile').innerText = fileName;
    }

</script>

<div class="container jumbotron mt-4" style="max-width:550px">
    <form action="/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- <label for="id_location">Paste Link:</label>
        <input type="text" class="form-control" required id="id_location" name="location" onchange="updateLabel()">

        <br>
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" required id="category" name="category">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div> -->

        <div class=" d-flex justify-content-end mb-1 my-1">
            <button class="btn btn-primary" type="submit">Post Link</button>
        </div>

    </form>

</div>
{% endblock %}